{% extends 'webapp/base.html' %}
<br />
{% load crispy_forms_tags %}
<br />
{% block content %}
<body>
  <div class="container bg-light shadow-md p-5 form-layout">
    <h3>Create your account</h3>
    <h5>Start Managing your clients today!</h5>
    <hr />
    <br />
    <form method="post" autocomplete="off">
      {% csrf_token %}
      <br />
      {{form|crispy}}
      <br />
      <button class="btn btn-primary w-100 btn-block p-2" type="submit">
        Create Account
      </button>
    </form>
    <br />
    <div class="text-center">
      <span>Already have an account?</span>
      <a href="{%  url 'login' %}">Login</a>
    </div>
  </div>
</body>
{% endblock %}
